@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/HelveticaNeue.ttc");
}
body {
  max-width: 1920px;
  font-family: "HelveticaNeue";
  background-color: #c2c1c163;
}
input {
  border: 2px solid #bcbcbc;
  border-radius: 4px;
}
input:focus {
  outline: 0;
}
textarea {
  border: 2px solid #bcbcbc;
  border-radius: 4px;
}
textarea:focus {
  outline: 0;
}

label {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
select {
  padding-left: 20px;
}
select:focus {
  outline: 0;
}

select::after {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  right: calc(10px - 18.86px);
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
}
.email-svg {
  margin-right: 10px;
  display: none;
}
.mobile-svg {
  margin-right: 10px;
  display: none;
}
.app__input--validation {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
}
/* Start/Home Page */
.app__start--page {
  width: 100%;
  margin: 0 auto;
  background: url("../img/shutterstock_2189773743 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
}
.app__start--logo {
  width: 236px;
  padding: 25px 0 25px 70px;
}
.app__start--line {
  position: absolute;
  border: 1px solid #1a1a1a;
  width: 89.9%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.app__start--btn {
  background: #1a1a1a;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  width: 24.1%;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 500px;
  left: 37.9%;
}
.app__start--stamp {
  display: block;
  width: 15.5%;
  margin-top: 384px;
  margin-left: 56%;
}

/* Parent of generator and fields window */
.app__working--section {
  width: 100%;
  display: none;
  justify-content: center;
  position: relative;
}
.app__personal--backbtn {
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 45px;
  left: 4%;
  cursor: pointer;
}
.app__personal--btnimg {
  width: 9.21px;
  height: 16px;
}
/* Personal Info Page */
.app__personal--page {
  width: 57.1%;
  background-color: #c2c1c163;
  padding-bottom: 65px;
}

.app__personal--header {
  width: 72.8%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 12px 0;
  margin-top: 35px;
  border-bottom: 1px solid #1a1a1a;
}
.app__personal--title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.3px;
}
.app__personal--pagenum {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  text-align: Right;
}
.app__personal--form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 77px;
  width: 72.8%;
}
.app__personal--inputbox {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.app__personal--inputbox div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 46.1%;
  row-gap: 8px;
}
.app__validation--mark--box {
  position: relative;
}
.app__personal--name--input {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__personal--lastname--input {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__upload--box {
  margin-top: 54px;
  position: relative;
}
.app__file--input {
  display: none;
}
.app__upload--btn {
  height: 27px;
  width: 107px;
  background: #0e80bf;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 19px;
}

.app__about--box {
  margin-top: 49px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}
.app__input--about {
  padding: 13px 16px;
  height: 103px;
  width: 100%;
  resize: none;
}
.app__email--box {
  margin-top: 33px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  position: relative;
}
.app__input--email {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__mobile--box {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  position: relative;
}
.app__input--mobile {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__personal--nextbtn {
  margin-top: 158.7px;
  height: 48px;
  width: 151px;
  font-size: 16px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.08em;
  border-radius: 4px;
  color: #ffffff;
  background: #6b40e3;
  border: none;
  float: right;
}
/* Experience Page */
.app__experience--form {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  width: 72.8%;
}
.app__experience--form > div {
  margin-top: 77px;
}
.app__position--box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  position: relative;
}
.app__input--position {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__employer--box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  margin-top: 31px;
  position: relative;
}
.app__input--employer {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__date--box {
  margin-top: 31px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.app__date--box div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 46.1%;
  row-gap: 8px;
}
.app__date--input1 {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__date--input2 {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__description--box {
  display: flex;
  justify-content: center;
  align-items: start;
  row-gap: 8px;
  flex-direction: column;
  margin-top: 33px;
}
.app__input--description {
  padding: 13px 16px;
  height: 103px;
  width: 100%;
  resize: none;
}
.app__end--line {
  border: 1px solid #c1c1c1;
  width: 100%;
  margin-top: 53px;
}
.app__addexp--btn {
  margin-top: 59px;
  border: none;
  color: #fff;
  width: 289px;
  height: 48px;
  background: #62a1eb;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.app__experience--btn--box {
  width: 100%;
  margin-top: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__experience--back {
  border: none;
  background: #6b40e3;
  border-radius: 4px;
  width: 151px;
  height: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}
.app__experience--next {
  border: none;
  background: #6b40e3;
  border-radius: 4px;
  width: 151px;
  height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}

/* Education Page */
.app__education--form {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  width: 72.8%;
}
.app__education--form > div {
  margin-top: 77px;
}
.app__school--box {
  display: flex;
  justify-content: center;
  align-items: start;
  row-gap: 8px;
  flex-direction: column;
  position: relative;
}
.app__education--school {
  width: 100%;
  padding: 14px 16px;
  height: 48px;
}
.app__school--graduation--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
  width: 100%;
}
.app__degree--box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 8px;
  width: 46.1%;
}
.app__education--date--box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 46.1%;
  row-gap: 8px;
}
.app__education--select {
  padding-left: 20px;
  position: relative;
}
.app__education--select {
  padding: 14px 16px;
  height: 48px;
}
.app__education--date {
  padding: 14px 16px;
  height: 48px;
}
.app__education--description--box {
  margin-top: 34px;
  display: flex;
  justify-content: center;
  row-gap: 8px;
  flex-direction: column;
  width: 100%;
}
.app__input--edu--description {
  padding: 13px 16px;
  height: 179px;
  width: 100%;
  resize: none;
}
.app__addedu--btn {
  margin-top: 45px;
  border: none;
  color: #fff;
  width: 289px;
  height: 48px;
  background: #62a1eb;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.app__education--btn-box {
  width: 100%;
  margin-top: 196.7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__education--back--btn {
  border: none;
  background: #6b40e3;
  border-radius: 4px;
  width: 151px;
  height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}
.app__education--finish--btn {
  border: none;
  background: #6b40e3;
  border-radius: 4px;
  width: 151px;
  height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}

/* Resume generator Page */
.app__resume--page {
  width: 42.9%;
  background-color: #fff;
  position: relative;
  padding-bottom: 10%;
}
.app__resume--logo {
  left: 9.4%;
  top: 92%;
  position: absolute;
}
.app__resume--personal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 75px 16px 80px;
}
.app__resume--personalinfo {
  width: 70%;
  padding-bottom: 16px;
}
.app__resume--fullname {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
  overflow: auto;
}
.app__resume--about {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}
.app__resume--about--text {
  width: 100%;
  max-width: 422px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.app__resume--imgbox {
  width: 100%;
  max-width: 246px;
  border-radius: 50%;
}
.app__resume--image {
  width: 100%;
  border-radius: 50%;
  height: 246px;
  display: none;
}
.app__resume--email--box {
  margin-top: 17px;
  display: flex;
  align-items: center;
}
.app__resume--mobile--box {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.app__resume--about {
  margin-top: 34px;
}
.app__resume--about--text {
  margin-top: 15px;
}
.app__resume--experience--box {
  padding: 24px 80px 19px 80px;
}
.app__resume--experience--title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}
.app__resume--experience--position {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  margin-top: 15px;
}
.app__resume--experience--date {
  margin-top: 7px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
}
.app__resume--experience--description {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}
.app__resume--education--box {
  padding: 24px 80px 19px 80px;
}
.app__resume--education--title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}
.app__resume--education--school {
  margin-top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
}
.app__resume--education--date {
  margin-top: 7px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
}
.app__resume--education--description {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  color: #000000;
}

/* input colors */
.app__input--green {
  border: 1px solid #98e37e;
}
.app__input--red {
  border: 1px solid #ef5050;
}
.app__validate--mark--green1 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-green.png") no-repeat;
  background-position: center;
  right: -55px;
  opacity: 0;
}
.app__validate--mark--red1 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-red.png") no-repeat;
  background-position: center;
  right: -105px;
  opacity: 0;
}
.app__validate--mark--green2 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-green.png") no-repeat;
  background-position: center;
  right: -55px;
  opacity: 0;
}
.app__validate--mark--red2 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-red.png") no-repeat;
  background-position: center;
  right: -105px;
  opacity: 0;
}
.app__validate--mark--green-upload {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-green.png") no-repeat;
  background-position: center;
  left: 470px;
  top: 2px;
  opacity: 0;
}
.app__validate--mark--red-upload {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-red.png") no-repeat;
  background-position: center;
  left: 470px;
  top: 2px;
  opacity: 0;
}
.app__validate--mark--green-max-width1 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-green.png") no-repeat;
  background-position: center;
  right: 15px;
  opacity: 0;
}
.app__validate--mark--red-max-width1 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-red.png") no-repeat;
  background-position: center;
  right: -35px;
  opacity: 0;
}
.app__validate--mark--green-max-width2 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-green.png") no-repeat;
  background-position: center;
  right: 15px;
  opacity: 0;
}
.app__validate--mark--red-max-width2 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-red.png") no-repeat;
  background-position: center;
  right: -35px;
  opacity: 0;
}
.app__validate--mark--green-max-width3 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-green.png") no-repeat;
  background-position: center;
  right: 15px;
  opacity: 0;
}
.app__validate--mark--red-max-width3 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-red.png") no-repeat;
  background-position: center;
  right: -35px;
  opacity: 0;
}
.app__validate--mark--green-max-width4 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-green.png") no-repeat;
  background-position: center;
  right: 15px;
  opacity: 0;
}
.app__validate--mark--red-max-width4 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-red.png") no-repeat;
  background-position: center;
  right: -35px;
  opacity: 0;
}
.app__validate--mark--green-max-width5 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-green.png") no-repeat;
  background-position: center;
  right: 15px;
  opacity: 0;
}
.app__validate--mark--red-max-width5 {
  width: 22px;
  height: 22px;
  position: absolute;
  background: url("../img/validated-red.png") no-repeat;
  background-position: center;
  right: -35px;
  opacity: 0;
}
